/* Наши преимущества*/

.advantage-list {
    display: flex;
    padding-top: 94px;
}

.advantage-item {
    display: inline-block;
    max-width: 270px;
}

.advantage-item+.advantage-item {
    margin-left: 30px;
}

.advantage-icon {
    @include centredFlex();
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.advantage-svg {
    width: 70px;
    height: 70px;
}

.advantage-title {
    color: $title-color;

    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantage-text {
    padding-top: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.03em;
}
