/* Главная часть, Герой*/

.hero {
    width: 100%;
    max-height: 600px;
    background-color: #2F303A;
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

.hero-container {
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    display: block;

    color: $title-color-white;

    font-size: 44px;
    font-weight: 900;
    line-height: 1.37;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}

.button.primary {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    background-color: $accent-color;
    color: $title-color-white;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    text-align: center;
}
